# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Cog
/models/*
output_*.png
output.*.png
output_image_*.png
output_image.*.png
output_*.webp
output.*.webp
output_image_*.webp
output_image.*.webp
output_*.jpg
output.*.jpg
output_image_*.jpg
output_image.*.jpg
output_*.jpeg
output.*.jpeg
output_image_*.jpeg
output_image.*.jpeg

# Exclude Git files
.git
.github
.gitignore

# Exclude Python cache files
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

# Exclude Python virtual environment
/venv
